.layout-footer {
    transition: margin-left $transitionDuration;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid var(--surface-border);
}
